*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', sans-serif;
}

/*header*/ 

header{
    background-color:rgb(42,94 ,232 );           
    height: 75px;
    display:flex;
    align-items: center;
}


header ul{
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    font-size: large;
}

header li{
    margin: 10px;
}

a{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;
}

/*main*/

.jumbo{                    /*jumbo*/
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.conteiner-jumbo{
    width: 40%;
    margin: 0 auto;
    padding: 100px 0 235px;

}

.jumbo h2{
    font-size: 4em;
    margin-bottom: 60px;
}

.jumbo p{
    font-size: 24px;
    text-indent: 50px;
    margin-bottom: 45px;
}

.jumbo-button{
    font-size: 20px;

}

.a-black{
    margin-left: 40px;
    background-color: black;
    color: white;
}

.jumbo .a-white::before{
    content: "\01F827";  
}


/*main section*/

.padding{
    padding: 100px 0 100px 0;
}

.col-40 h2{
    font-size: 3em;
    padding: 20px 100px 20px 150px;
}

.col-40 p{
    padding: 20px 100px 20px 150px;
    
}


.bg-gray{ 
    background-color: lightgray;
}

#h2-last{
    font-size: 3em;
    color: black;
}

#p-last{
    color: black;
    padding: 50px 275px 0px 275px;
}


.bg-h3{
    padding: 4px 10px 0px 10px;
    background-image: url(../img/stars.svg);
    background-size: contain;
}

h3{
    color: black;
    margin: 5px 5px 5px 5px;
}

.a-blue{
    margin-top: 50px;
    background-color: rgb(142, 161, 225) ;
    color: white;

}
.a-blue::before{
    content: "\01F827";  
}


/*footer*/

.bg-black{ 
    background-color: rgb(35, 39, 42)
}

footer .conteiner{
    padding-top: 100px;
}
  
/*col-30 footer*/

footer h3{      
    color: rgb(114, 137, 218);
    font-size: 32px;
    padding-bottom: 25px;
}

.col-30 span{
    color: white;
    padding-bottom: 25px;

}

.col-30 span::before{
    content: "";
    display: block;
    background: url('../img/ita.png');
    width: 25px;
    height: 17px;
    float: left;
    background-size: contain;
}

.col-30 span::after{
    content: "\02C5";

}

footer img{width: 50%;

}

/*col-70 footer*/

footer ul{
    list-style-type: none;
    color: white;
}

.col-70 span{
    color: rgb(114, 137, 218);
    padding-bottom: 5px;
}

.col-70 li{
    padding-bottom: 5px;
}

footer .row{
    padding-bottom: 50px;
}




/*attribute*/

.flex-end{
    display:flex ;
    justify-content: flex-end;
    width: 100%;
    
}
.conteiner{
    width: 75%;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
}

.col-25{
    width: 25%;
}

.col-50{
    width: 50%;
}

.col-100{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.col-60{
    width: 60%;

}

.col-40{
    width: 40%;
}

.col-30{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-right: 150px;
    


}
.col-70{
    width: 70%;
}

footer .col-25{
    width:25%;
    display: flex;
    flex-direction: column;
}

.row-footer{
    display: flex;

    
}

