*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', sans-serif;
}

/*header*/ 

header{
    background-color:rgb(42,94 ,232 );           
    height: 75px;
    display:flex;
    align-items: center;
}


ul{
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    font-size: large;
}

li{
    margin: 10px;
}

a{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;
    
    
    
}

/*main*/

.jumbo{                    /*jumbo*/
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.conteiner-jumbo{
    width: 40%;
    margin: 0 auto;
    padding: 100px 0 235px;

}

.jumbo h2{
    font-size: 4em;
    margin-bottom: 60px;
}

.jumbo p{
    font-size: 24px;
    text-indent: 50px;
    margin-bottom: 45px;
}

.jumbo-button{
    font-size: 20px;

}

.a-black{
    margin-left: 40px;
    background-color: black;
    color: white;
}

.jumbo .a-white::before{
    content: "\01F827";  
}


/*main section*/

.padding{
    padding: 100px 0 100px 0;
}

.col-40 h2{
    font-size: 3em;
    padding: 20px 100px 20px 150px;
}

.col-40 p{
    padding: 20px 100px 20px 150px;
    
}


.bg-gray{ 
    background-color: lightgray;
}



/*attribute*/

.flex-end{
    display:flex ;
    justify-content: flex-end;
    width: 100%;
    
}
.conteiner{
    width: 75%;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
}

.col-25{
    width: 25%;
    
}

.col-50{
    width: 50%;
}

.col-100{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.col-60{
    width: 60%;

}

.col-40{
    width: 40%;
}